
@charset "UTF-8";

:root{
            --mycolor01: #F8F0E5;
            --mycolor02: #EADBC8;
            --mycolor03:#DAC0A3;
            --mycolor04:#102C57;
            --mycolor05: #96B6C5;
            --mycolor06: #ADC4CE;
            --mycolor07: #EEE0C9;
            --mycolor08: #F1F0E8;
            --mycolor09:#A1CCD1;
            --mycolor10:#F4F2DE;
            --mycolor11:#E9B384;
            --mycolor12:#7C9D96;
            --mycolor13:#272829;
            --mycolor14:#61677A;
            --mycolor15:#D8D9DA;
            --mycolor16:#FFF6E0;
          }
   
   
